{% extends 'base.html'%}

{% block 'titulo'%}
Premio

{% endblock%}

{% block 'body' %}
<div class="container">
  <br>
  <h3 id="aviso">Tem certeza que quer escolher este prêmio? Se sim, clique em <strong>"Concorrer"</strong>.<p> O sorteio do prêmio será no dia 26 de agosto na escola, em horário a ser definido. </h3>
  <div class="row">
    {% load static %}      


          <div style="margin-top: 20px;" class="col-md">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-img-top"><img src="{{premioEscolhido.thumb.url}}" alt="Imagem de cartao de desconto de 50 reais das americanas.com" height="100 rem"></h5>
                    <p class="card-text">{{premioEscolhido.nome_premio}}</p>
                    <a id="button" href="{% url 'premio_escolhido' premioEscolhido.id %}" class="btn btn-primary"><button onclick='funcao()'>Concorrer!</button></a>
                  </div>
                </div>
          </div>
<script>
function funcao() {
    document.getElementById("aviso").innerHTML = "Pronto! Você já está concorrendo!";
    hideButton = document.getElementById("button");
    hideButton.style.display = "none";
}
</script>


  </div>

  <br>
  <br>
  <a href="{% url 'sair' %}" class="btn btn-lin"  role="#"><u><font color="blue">Sair - Voltar à página de login</font></u></a>

</div>
{% endblock %}


