argcomplete==1.8.1
asgiref==3.5.2
asn1crypto==1.4.0
beautifulsoup4==4.9.3
bottle==0.12.19
casttube==0.2.1
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.0.3
cssutils==2.3.0
cupshelpers==1.0
dbus-python==1.2.16
distlib==0.3.4
distro==1.5.0
distro-info==1.0
Django==3.2.7
filelock==3.7.0
Flask==2.0.2
gpg===1.14.0-unknown
gunicorn==20.1.0
html5lib==1.1
idna==2.10
ifaddr==0.1.7
itsdangerous==2.0.1
Jinja2==3.0.2
libvirt-python==7.0.0
lxml==4.6.3
MarkupSafe==2.0.1
mechanize==0.4.5
netifaces==0.10.9
numpy==1.19.5
packaging==20.9
Paste==3.5.0
Pillow==9.1.1
platformdirs==2.5.2
protobuf==3.19.1
pycairo==1.16.2
pycaption==2.0.2
PyChromecast==9.3.1
pycups==2.0.1
pycurl==7.43.0.6
PyGObject==3.38.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.2.1
pytz==2022.1
pyxdg==0.27
ranger-fm==1.9.3
requests==2.25.1
scour==0.38.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
torbrowser-launcher==0.3.3
unattended-upgrades==0.1
urllib3==1.26.5
virtualenv==20.14.1
webencodings==0.5.1
Werkzeug==2.0.2
xdg==5
zeroconf==0.36.11
