{% extends 'base.html'%}



{% block 'titulo'%}
Aula

{% endblock%}

{% block 'body' %}

    
   


<div class="container">
  <br>
 
  <h1>{{aula.nome}}</h1>
  <hr>
  <video  width="100%" controls>
      <source src="{{aula.aula.url}}" type="video/mp4">
    </video>

  
<hr>
<html>
<body>

<p id="paragrafo"><b>Clique no botão abaixo para concorrer a este curso:</b></p>

<button onclick="funcao()"><b>Concorrer</b></button>

<script>
function funcao() {
    document.getElementById("paragrafo").innerHTML = "Pronto, você já está concorrendo!";
}
</script>

</body>
</html>

  <hr>
  <a href="{% url 'sair' %}" class="btn btn-lin"  role="#"><u><font color="blue">Sair - Voltar à página de login</font></u></a>
</div>
<br>
<br>
{% endblock %}


