{% extends 'base.html'%}

{% block 'titulo'%}
Curso

{% endblock%}

{% block 'body' %}
<div class="container">
  <br>
  <h1 id="aviso">Tem certeza que quer escolher este prêmio? Se sim, clique em "Concorrer" </h1>
  <div class="row">
      


          <div style="margin-top: 20px;" class="col-md">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-img-top"><img src="{{cursoEscolhido.thumb.url}}" alt="Imagem de cartao de desconto de 50 reais das americanas.com" height="100 rem"></h5>
                    <p class="card-text">{{cursoEscolhido.nome_curso}}</p>
                    <a href="{% url 'curso_escolhido' cursoEscolhido.id %}" class="btn btn-primary"><button onclick='funcao()'>Concorrer!</button></a>
                  </div>
                </div>
          </div>
<script>
function funcao() {
    document.getElementById("aviso").innerHTML = "Pronto! Você já está concorrendo!";
}
</script>


  </div>

  <br>
  <br>
  <a href="{% url 'sair' %}" class="btn btn-lin"  role="#"><u><font color="blue">Sair - Voltar à página de login</font></u></a>

</div>
{% endblock %}


.
