<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>{% block 'titulo'%}{% endblock %}</title>
    {% block 'head' %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand mx-auto" href="http://127.0.0.1:8000/auth/cadastro/" ><h3>&nbsp&nbsp Seja bem vindo(a) ao nosso site. Jovens vacinem-se!</h3></a>
        
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" ></script>
    {% block 'body'%}{% endblock %}
      
   
  </body>
</html>


