<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="\media\thumb_premios\estilos.css"> 
</head>
<body class="bg">

    
{% extends 'base.html'%}

{% block 'titulo'%}
Página Inicial - Cadastro

{% endblock%}

{% block 'body' %}

<div class="container">
    <br>
    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Sua senha deve ter entre 8 e 12 caracteres
      </div>
        
    {% endif %}

    <br>
    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Nome e token não podem estar vazios
      </div>
        
    {% endif %}

    <br>
    {% if status == '3' %}
    <div class="alert alert-danger" role="alert">
        Este token já está cadastrado no sistema 
      </div>
        
    {% endif %}

    <br>
    {% if status == '4' %}
    <div class="alert alert-danger" role="alert">
        Token inválido, por favor, digite novamente
      </div>
        
    {% endif %}

    <br>
    {% if status == '0' %}
    <div class="alert alert-success" role="alert">
        Cadastro realizado com sucesso!
      </div>
        
    {% endif %}

    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md">
          <br>
          <h1>
            <div class="d-inline p-1 bg-dark text-white">Cadastre-se</div>
            </h1><h6 class="alert alert-info p-1">Já tem cadastro?<a class="text-dark" href="{% url 'login' %}"> Clique aqui!</a></h6>
          <hr>
          <br>
          <br>
          <form method="POST" action="{% url 'valida_cadastro' %}" >{% csrf_token %} 
              <label>
                <div class="d-inline p-2 bg-dark text-white">Digite seu nome:</div>
                </label>
              <input class="form-control" type="text" placeholder="Nome..." name = "nome">
              <br>
              <label>
                <div class="d-inline p-2 bg-dark text-white">Digite seu Token:</div>
                </label>
              <input class="form-control" type="text" placeholder="Token" name = "token">
              <br>
              <label>
                <p class="d-inline p-2 bg-dark text-white">Digite sua senha:</p>
                </label>
              <input class="form-control" type="password" placeholder="Senha" name = "senha">
              <br>
              <a href="{% url 'home' %}"><input class="btn btn-success btn-lg" type="submit" value="Cadastrar"></a>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
{{usuario_existe}}
              <br>
              <br>
              <br>
              <br>
              <a href="{% url 'admin:index' %}" class="btn btn-lin"  role="#"><u><font color="blue">
                <p class="font-weight-bold"><h5>Administração Do Site</h5></p></font></u></a>
                
          </form>
      </div>
      <div class="col-md-3">

      </div>
  </div>

</div>

{% endblock %}

 </Section>

<script type="text/javascript" src="scripts.js"></script>

