<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="\media\thumb_cursos\estilos.css"> 
</head>
<body class="bg">

  <Section class="">





    
{% extends 'base.html'%}

{% block 'titulo'%}
Cadastro

{% endblock%}

{% block 'body' %}

<div class="container">
    <br>
    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Sua senha deve ter entre 8 e 12 caracteres
      </div>
        
    {% endif %}

    <br>
    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Email e nome não podem estar vazios
      </div>
        
    {% endif %}

    <br>
    {% if status == '3' %}
    <div class="alert alert-danger" role="alert">
        Este email já está cadastrado no sistema
      </div>
        
    {% endif %}

    <br>
    {% if status == '0' %}
    <div class="alert alert-success" role="alert">
        Cadastro realizado com sucesso!
      </div>
        
    {% endif %}
 
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md">
          <br>
          <h1>
            <div class="d-inline p-2 bg-dark text-white">Cadastre-se</div>
            </h1>
          <hr>
          <br>
          <br>
          <form method="POST" action="{% url 'valida_cadastro' %}" >{% csrf_token %} 
              <label>
                <div class="d-inline p-2 bg-dark text-white">Digite seu nome:</div>
                </label>
              <input class="form-control" type="text" placeholder="Nome..." name = "nome">
              <br>
              <label>
                <div class="d-inline p-2 bg-dark text-white">Digite seu Email:</div>
                </label>
              <input class="form-control" type="text" placeholder="E-mail" name = "email">
              <br>
              <label>
                <p class="d-inline p-2 bg-dark text-white">Digite sua senha:</p>
                </label>
              <input class="form-control" type="password" placeholder="Senha" name = "senha">
              <br>
              <input class="btn btn-success btn-lg" type="submit">
              <a href="{% url 'login' %}" class="btn btn-info btn-lg">Logar</a>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="http://127.0.0.1:8000/admin/" class="btn btn-lin"  role="#"><u><font color="blue">
                <p class="font-weight-bold"><h5>Administração Do Site</h5></p></font></u></a>
                
          </form>
      </div>
      <div class="col-md-3">

      </div>
  </div>

</div>

{% endblock %}

 </Section>

<script type="text/javascript" src="scripts.js"></script>

