{% extends 'base.html'%}

{% block 'titulo'%}
Logar

{% endblock%}

{% block 'body' %}
<div class="container">
    <br>
    {% if status == '1' %}
    <div class="alert alert-danger" role="alert">
        Token ou senha inválida!
      </div>
    {% endif %}

    {% if status == '2' %}
    <div class="alert alert-danger" role="alert">
        Faça login antes de acessar a plataforma
      </div>
    {% endif %}

  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md">
          <br>
          <br>
          <br>
          <br>
          <h1>Login</h1>Não é cadastrado? <a href="{% url 'cadastro' %}">Clique aqui!</a>
          <hr>
          <form method="POST" action="{% url 'valida_login'%}">{% csrf_token %}
              <label>Digite seu Token:</label>
              <input class="form-control" type="text" placeholder="Token" name = "token">
              <br>
              <label>Digite sua senha:</label>
              <input class="form-control" type="password" placeholder="Senha" name = "senha">
              <br>
              <input class="btn btn-success btn-lg" type="submit" value="Entrar">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a href="{% url 'admin:index' %}" class="btn btn-lin"  role="#"><u><font color="blue">Administração Do Site</font></u></a>
          </form>
      </div>
      <div class="col-md-3">

      </div>
  </div>

</div>
{% endblock %}
